
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    min-width: 100%;

    padding: 0px 1em;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.select {
    width: 100%;
    text-align: center;
    text-align-last: center;
}

.input {
    width: 33%;
}

.balanceContainer {
    width: 33%;
    display: flex;
    justify-content: center;
}

.balanceContainer div {
    width: 33%;
}

