
.grid * {
    box-sizing: border-box;
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "dataone employees employees employees"
        "paidouts employees employees employees"
        "breakdown breakdown end-drawer end-drawer";
    
    column-gap: 1em;
    row-gap: 1em;
        
    align-content: stretch;
    justify-items: stretch;

    min-height: 100vh;
    min-width: 100vw;

    height: 100vh;
    width: 100vw;
    padding: 2em;
}

.grid div {
    /* border: solid black 1px; */
}

.area {
    /* background-color: black; */

}

.dataone {
    grid-area: dataone;
     min-width: 20vw;
}

.employees {
    grid-area: employees;
    min-width: 45vw;
}

.paidouts {
    grid-area: paidouts;
}

.cuts {
    grid-area: cuts;
}

.startdrawer {
    grid-area: start-drawer;
}

.enddrawer {
    grid-area: end-drawer;
}

.breakdown {
    grid-area: breakdown;
}

.dataone,
.employees,
.paidouts,
.enddrawer,
.breakdown {
    padding: .5em;
}
