
.grid * {
    box-sizing: border-box;
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "dataone employees employees paidouts"
        "end-drawer end-drawer breakdown breakdown";
    
    column-gap: 1em;
    row-gap: 1em;
        
    /* justify-content: center; */
    /* align-items: center; */
    align-content: stretch;
    justify-items: stretch;

    min-height: 100vh;
    min-width: 100vw;

    height: 100vh;
    width: 100vw;
    padding: 2em;


    /* background-color: rgb(226, 219, 219); */

}

.grid div {
    /* border: solid black 1px; */
}

.area {
    /* background-color: black; */

}

.dataone {
    grid-area: dataone;
     /* background-color: red;  */
}

.employees {
    grid-area: employees;
    /* background-color: blue; */
}

.paidouts {
    grid-area: paidouts;
    /* background-color: yellow; */
}

.cuts {
    grid-area: cuts;
    /* background-color: cyan; */
}

.startdrawer {
    grid-area: start-drawer;
    /* background-color: purple; */
}

.enddrawer {
    grid-area: end-drawer;
    /* background-color: magenta; */
}

.breakdown {
    grid-area: breakdown;
    /* background-color: darkgreen; */
}

.dataone,
.employees,
.paidouts,
.enddrawer,
.breakdown {
    padding: .5em;
    /* box-shadow: 0.5em 0.2em 1.5em #000; */
    border: var(--border-outline);
}
