
.table {
    /* border: 1px solid black; */
    /* width: 100%; */

    display: flex;
    flex-direction: column;

    /* margin: .2em; */
}

.row:first-child {
    height: 45px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: .2em;

    border: white inset 1px;

    /* background-color: darkgrey; */
}

.footerblock {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 30%;
}

.select {
    width: 33%;
}

.row span {
    /* width: 33%; */
}

.row input {
    width: 30%;
}

.footer {
    display: flex;
    justify-content: space-around;
    

    width: 100%;
}