
.container {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
}

.input {
    width: 50px;
    text-align: center;
    outline: none;
    border: none;
}

.currencyCount {
    display: flex;
    justify-content: space-around;

    border-bottom: 1px dotted black;
}

.currencyCount span {
    width: 60px;
}