.rectangle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(196, 42, 42, 0);
    border-radius: 1px;
}

.inputContainer {
    height: 80%;
}

.inputStyle {
    /* height: 20px; */
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 25px;
    font: bolder;
    background-color: rgb(50, 56, 50)
}   

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgb(50 56, 50);
    /* color: rgb(255, 0, 0); */
    border-radius: 5px;

    padding: 0 1em;

    border: outset;
}

.btn:hover {
    color: white;
}

.btn:active {
    border: inset;
}

