.rectangle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(196, 42, 42, 0); */
    /* border-radius: 1px; */
    justify-content: center;
    /* max-width: 400px; */
}

.inputContainer {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */

    max-width: 90%;
}

.inputStyle {
    /* height: 20px; */
    /* width: 100%; */
    width: 50%;
    text-align: center;
}   

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgb(50 56, 50);
    /* color: rgb(255, 0, 0); */
    border-radius: 5px;

    padding: 0 1em;

    border: outset;
}

.btn:hover {
    color: white;
}

.btn:active {
    border: inset;
}

